#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.squareboard {
  margin-top: 40px;
}

.boxplacement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxName {
  background-color: inherit;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* 
.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.gameWindow {
  background-color: inherit;
  border-radius: 37px;
}

.tickCardRow {
  display: flex;
  justify-content: space-around;
}

.tickCard {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxName {
  background-color: inherit;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.boxResult {
  background-color: inherit;
  color: inherit;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.boxResult:hover {
  cursor: pointer;
}  */
